/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
/* ==== ROOT RESET ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary-color: #335eea;
  --link-color: #506690;
  --btn-hover-color: #2b50c7;
  --lg-heading: #161c2d;
  --text-content: #869ab8;
  --fixed-header-height: 4.5rem;
}
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: white;
}
ul li {
  list-style-type: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.container {
  max-width: 100%;
  transition: 0.2s;
  
}
@media screen and (min-width: 1040px) {
  .container {
    width: 1040px;
    margin: 0 auto;
    
  }
}
.header {
  height: var(--fixed-header-height);
  padding: 0 1.7rem;
}
.ri-arrow-right-line{
  color: white;
  font-size: 27px;
}
.ri-arrow-right-line:hover{
  color: white;
  font-style: normal;
}
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo h2 {
  font-size: 28px;
  color: var(--primary-color);
}
.nav_menu_list {
  display: flex;
  align-items: center;
}
.nav_menu_list .nav_menu_item {
  margin: 0 2rem;
}
.nav_menu_item .nav_menu_link {
  font-size: 16.5px;
  line-height: 27px;
  color: var(--link-color);
  text-transform: none;
  letter-spacing: 0.5px;
}
.nav_menu_link:hover {
  color: var(--primary-color);
}
.toggle_btn {
  font-size: 20px;
  font-weight: 600;
  color: var(--lg-heading);
  z-index: 4;
}
.nav_menu,
.close_btn {
  display: none;
}
.show {
  right: 3% !important;
}
.wrapper {
  width: 100%;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 8rem;
  margin-bottom: 4rem;
  
}
.grid-cols-2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.grid-item-1 {
  padding-top: 5rem;
  padding-left: 1.5rem;
}
.main-heading {
  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
}
.main-heading span {
  color: var(--primary-color);
}
.info-text {
  margin-top: 1.5rem;
  font-size: 19px;
  line-height: 28px;
  color: #334157;
}
.btn_wrapper {
  margin-top: 3.5rem;
  display: flex;
  width: 100%;
}
.btn {
  width: 110px;
  height: 50px;
  background-color: #335eea;
  display: block;
  font-size: 16px;
  color: #fff;
  text-transform: none;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.2s;
}
.btn:hover {
  transform: translateY(-3px);
  background-color: #335eea;
}
.view_more_btn {
  width: 180px;
 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 500;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1.5rem white;
}
.view_more_btn i {
  margin-left: 0.7rem;
}
.view_more_btn:hover {

}
.documentation_btn {
  width: 150px;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0;
  background-color: #e1e7fc;
  color: #0e2a86;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.documentation_btn:hover {
  background-color: #d7ddf1;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.grid-item-2 {
  width: 100%;
  height: 100%;
}
.team_img_wrapper {
  width: 500px;
  max-width: 100%;
  height: 440px;
}
.team_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.grid-cols-3 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 1rem;
}


.grid-col-item {
  height: 100%;
}
.icon svg {
  width: 30px;
  height: 30px;
  color: #6b85d8;
}
.icon {
  width: 100%;
  line-height: 40px;
}
.zachem{
  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
  padding: 16px;
  margin-bottom: 20px;
}
.featured_info {
  width: 100%;
  
}
.featured_info span {
  width: 100%;
  display: block;
  font-size: 21px;
  line-height: 33px;
  color: #335eea;
}
.featured_info p {
  display: block;
  width: 100%;
  font-weight: 400;
  color: #334157;
  line-height: 25px;
  font-size: 15.5px;
}
@media screen and (min-width: 768px) {
  .toggle_btn {
    display: none;
  }
  .nav_menu {
    display: block;
  }
  
}
@media screen and (max-width: 768px) {
  .logo h2 {
    font-size: 23px;
  }
  .nav_menu {
    position: fixed;
    width: 93%;
    height: 100%;
    display: block;
    top: 2.5%;
    right: -100%;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    z-index: 50;
    transition: 0.4s;
  }
  .nav_menu_list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }
  .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
  }
  .nav_menu_item .nav_menu_link {
    font-size: 18px;
  }
  .close_btn {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: #50689e;
  }
  .close_btn:hover {
    color: #000;
  }
  .wrapper {
    padding: 0 0.7rem;
  }
  .grid-item-1 {
    padding-left: 0rem;
  }
  .main-heading {
    font-size: 35px;
  }
  .view_more_btn {
    width: 140px;
    height: 55px;
    font-size: 13.5px;
    margin-right: 1rem;
  }
  .grid-cols-3 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .featured_info p {
    line-height: 23px;
    font-size: 14px;
  }
  .zachem{
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  padding: 16px;
  margin-bottom: 20px;
  }
  .zachem2{
  font-weight: 300;
  font-size: 21px;
  line-height: 25px;
  padding: 16px;
  margin-bottom: 4rem;
  color:#000;
  padding-top: 128px;
  }
}
@media screen and (max-width: 991px) {
  .wrapper {
    padding-top: 3rem;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .grid-item-1 {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .main-heading {
    font-size: 32px;
    text-align: center;
    line-height: 40px;
  }
  .info-text {
    font-size: 16px;
    text-align: center;
    padding: 0.7rem;
  }
  .btn_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-item-2 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team_img_wrapper {
    width: 350px;
    height: 350px;
  }
  .featured_info span {
    font-size: 19px;
    color: #335eea;
  }
  .zachem3 {
    font-weight: 300;
    font-size: 32px;
    line-height: 55px;
  }
  
}
.zachem2{
  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
  padding: 16px;
  margin-bottom: 4rem;
  color:#000;
  padding-top: 128px;
}
.program{
  width: 100%;
 
}
.imgblock {
  position: relative;
  display: inline-block;
  padding: 16px;
}
.imgblock img {
  height: 300px;
  width: 400px;
  border-radius: 3px;
}
.imgblock  span {
  left: 0px;
  position: absolute;
  top: 29px;
  width: 100%;
}
.imgblock span a {
  background: #335eea;
  color: white;
  padding: 6px 10px;
  white-space: nowrap;
  border-radius: 3px;
  font-weight: 300;
  font-size: 19px;
}
.imgblock2 {
  position: relative;
  display: inline-block;
  padding: 16px;
}
.imgblock2 img {
  height: 500px;
  width: 440px;
  border-radius: 3px;
}
.imgblock2  span {
  left: 0px;
  position: absolute;
  top: 29px;
  width: 100%;
}
.imgblock2 span a {
  background: #335eea;
  color: white;
  padding: 6px 10px;
  white-space: nowrap;
  border-radius: 3px;
  font-weight: 300;
  font-size: 19px;
}
.container2{
  display: flex;
}
.block2{
  display: flex;
}
.container2{
  display: flex;
}
p:last-child {
	margin-bottom: 0;
}
blockquote, q {
  padding-left: 10px;
  border-left: 2px solid white;
}
table {
	width: 100%;
}
table td, table th {
	padding: 10px 10px;
  border: 1px solid #334157;
}
table tr:nth-child(odd) td {
	background: #f1f1f1;
}
table tr:nth-child(even) td {
	background: #dadada;
}
.art_net_theme-scroll-to-top {
	width: 50px;
	height: 50px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	position: fixed;
	bottom: 150px;
	right: 20px;
	display: none;
	z-index: 999;
	background-color: #335eea;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
	overflow: hidden;
}
.art_net_theme-scroll-to-top:before, .art_net_theme-scroll-to-top:after {
	content: '';
	position: absolute;
	display: block;
	top: 15px;
	background-color: white;
	height: 20px;
	width: 5px;
}
.art_net_theme-scroll-to-top:before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	left: 28px;
	box-shadow: -8px 14px 0px 8px #335eea;
}
.art_net_theme-scroll-to-top:after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	right: 28px;
}
.art_net_theme-scroll-to-top:focus {
	outline: none;
}
img.alignleft {
  float: left;
  margin: 15px;
}
img.alignright {
  float: right;
  margin: 15px;
}
img.aligncenter {
  display: block;
  margin: 15px auto;
}
div#ant-section__breadcrumbs {
  background-image: url(img\11.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 90px 0 90px;
  background-color: white;
  z-index: 0;
}
div#ant-section__breadcrumbs:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  content: '';
  z-index: -1;
}
.ant_net_theme_breadcrumbs {
  font-size: 16px;
  color: white;
}
.ant-section__breadcrumbs span.ant_sep {
  margin: 0 10px;
  color: white;
}
.art_net_theme_breadcrumbs a {
  color: #335eea;
}
.art_net_theme_breadcrumbs a:hover {
  color: white;
}
.art_net_theme_breadcrumbs .ant_title {
    color: white;
}
.art_net_theme_header-section {
  text-align: center;
}
.art_net_theme_section-overtitle,
.art_net_theme_section-overtitle * {
  font-size: 32px;
  line-height: 40px;
  color: #335eea;
  line-height: 30px;
  width: 100%;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 8rem;
  margin-bottom: 2rem;
    

}
.art_net_theme_section-title h2 {
  font-size: 35px;
  text-transform: uppercase;
  line-height: 60px;
  font-weight: bold;
  color: #334157;
}
.art_net_theme_section-subtitle,
.art_net_theme_section-subtitle * {
  color: #334157;
  font-weight: 400;
  color: #334157;
  line-height: 25px;
  font-size: 15.5px;
}
.art_net_theme_header-section div * {
  margin: 0;
  padding: 0;
}
.art_net_theme_section-title-separator {
  text-align: center;
  margin: 10px auto 23px;
}
.wrapper2 {
  width: 100%;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 0%;
  margin-bottom: 4rem;
}
.zachem3{
  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
}
.obs{
  font-size: 16px;
  line-height: 40px;
  color: #335eea;
  line-height: 30px;
  width: 100%;
}
.featured_info1{
  color: #335eea
}
.p{
  margin-top: 0;
  margin-bottom: 0;
}
.ooo{
  width: 180px;
 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 500;
  margin-right: 10px;
}
.ooo:hover{
  width: 180px;
 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 500;
  margin-right: 10px;
  text-decoration: none;
}



.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100vw;
  margin: 0;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  float: left;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #292c2f;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}





.za{
  width: 100%;
  display: block;
  font-size: 21px;
  line-height: 28px;
  color: #335eea;
  margin-bottom: 45px;
  padding: 16px;
  padding-right: 80px;
  
}
#toTop {
  width:100px;
  border:1px solid #ccc;
  background:#f7f7f7;
  text-align:center;
  padding:5px;
  position:fixed;
  bottom:10px; /* отступ кнопки от нижнего края страницы*/
  right:10px;
  cursor:pointer;
  display:none;
  color:#333;
  font-family:verdana;
  font-size:11px;
  }
  .ttt{
    font-size: 16px;
    padding-top: 2rem;
  }
  .arttt{
    width: 100%;
    display: block;
    font-size: 20px;
    line-height: 33px;
    color: #335eea;
    padding-top: 128px;
    padding-bottom: 32px;
  }
  .arttt2{
    width: 100%;
    display: block;
    font-size: 32px;
    line-height: 40px;
    color: #335eea;
    padding: 20px;
    margin-top: 100px;
    
}






* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin mediaBig {
  @media (min-width: 576px) {
    @content;
  }
}

@include mediaBig {
  :root {
    --font-size-title: 40px;
  }  
}

.card {
  max-width: 960px;
  border-radius: var(--border-radius-primary);
  box-shadow: 24px 24px 80px rgba(0,0,0,0.1);
  padding: 20px 20px 28px 20px;
  box-sizing: border-box;
  margin: 20px;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  
  @include mediaBig {
    flex-direction: row;
    align-items: center;
    margin: 40px;
    padding: 32px;
  }
}

.card__image {
  width: 100%;
  max-height: 300px;
  border-radius: var(--border-radius-primary);
  object-fit: cover;
  margin-bottom: 18px;
  
  @include mediaBig {
    width: 45%;
    max-height: none;
    min-height: 400px;
    margin-bottom: 0;
  }
}

.card__content {
  @include mediaBig {
    width: 55%;
    padding-left: 40px;
  }
}

.card__date {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
 
  color: var(--color-text);
  margin-bottom: 6px;
  
  @include mediaBig {
    margin-bottom: 8px;
  }
}

.card__title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  color: var(--color-text);
  box-decoration-break: clone;
  background-image: linear-gradient(90deg, var(--color-highlight-primary), var(--color-highlight-secondary));
  background-size: 100% 42%;
  background-repeat: no-repeat;
  background-position: 0 85%;
  padding: 0 4px;
  margin-left: -4px;
}

:root {
  font-family: "Inter", sans-serif;
  
  --font-size-title: 32px;
  --line-height-title: 1.4;
  --font-size-caption: 14px;
  --line-height-caption: 1.2;
  
  --color-text: #222022;
  --color-highlight-primary: #335eea;
  --color-highlight-secondary: #869ab8;
  --border-radius-primary: 32px; 
}
.zachem33{
  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
  padding: 16px;
  margin-bottom: 20px;
  
}


.zachem332211{
  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
  padding: 16px;
  margin-bottom: 20px;
  background-image: linear-gradient(to left, #f13e07, #335eea);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}









.containerz {
  width: 100%;
  transition: 0.2s;
  

}





details {
  width: 75%;
  min-height: 5px;
  max-width: 1600px;
  padding: 45px 45px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 22px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all .3s;
}

details + details {
  margin-top: 20px;
}

details[open] {
  min-height: 50px;
  background-color: #f6f7f8;
  box-shadow: 2px 2px 20px rgba(0,0,0,.2);
}

details p {
  color: #96999d;
  font-weight: 300;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

summary:focus {
  outline: none;
  
}

summary:focus::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 5px #335eea;
}

summary::-webkit-details-marker {
  display: none
}

.control-icon {
  fill: #335eea;
  transition: .3s ease;
  pointer-events: none;
}

.control-icon-close {
  display: none;
}

details[open] .control-icon-close {
  display: initial;
  transition: .3s ease;
}

details[open] .control-icon-expand {
  display: none;
}








